.directory {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  overflow: hidden;
}

.directory-slider {
  width: 4000px;
  position: relative;
  left: 0;
  transition: all ease 1.5s;
}





