.checkout-item {
  width: 100%;
  min-height: 100px;
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;

  .checkout-image {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .checkout-descr {
    width: 75%;
    display: flex;
    justify-content: flex-start;

    .checkout-name {
      width: 150px;
      font-size: 17px;
    }

    .checkout-quantity {
      margin-left: 60px;
      font-size: 20px;
  
      .checkout-arrow-minus {
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
      }
  
      .checkout-arrow-plus {
        margin-left: 5px;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .checkout-price {
      margin-left: 130px;
      font-size: 17px;
    }

    .checkout-remove {
      margin-left: 145px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
