.menu-item button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  transition: all 0.5s;
  font-size: 17px;
  text-transform: uppercase;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: #231f20;
    box-shadow: 0 4px 5px #231f20;
    color: #e7e7e7;
  }
}

@media screen and(max-width: 1024px) {
  .menu-item button {
    width: 120px;
    font-size: 15px;
  }
}

@media screen and(max-width: 768px) {
  .menu-item button {
    width: 150px;
    margin-top: 20px;
    font-size: 14px;
    opacity: 1;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
