$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -24px;
  left: -20px;
  font-size: 19px;
  color: $main-color;
}

.login-from {
  position: relative;
  opacity: 0.8;

  .login-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 25px 0;

    &:focus {
      outline: none;
      opacity: 1;
      border: 1px solid black;
    }

    &:focus ~ .login-input-label {
      @include shrinkLabel();
      opacity: 1;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .login-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
