.catalog-item {
  position: relative;
  float: left;
  cursor: pointer;
  transform: all 0.5s;

  & .background-img {
    width: 800px;
    height: 398px;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .content {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid#fff;

    .title {
      font-weight: bold;
      font-size: 35px;
    }
  }
}
