.collection-chosen {
  width: 75%;
  padding: 50px 0;
  margin: 0 auto;

  .collection-title {
    min-width: 100px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 0.7;
  }

  .collection {
    width: 100%;
    display: grid;
    grid-column-start: auto;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
  
  }
}

@media screen and(max-width: 1440px) {
  .collection-chosen {
    width: 80%;
  }
}