.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  top: 80px;
  opacity: 0.9;
  z-index: 5;

  &.fixsed {
    position: fixed;
  }

  .choosed-items{
    height: 290px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}