.collection-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    width: 200px;
  }

  .collection-footer {
    margin-top: 10px;
    text-align: center;
    width: 310px;
    display: flex;
    flex-direction: column;

    .price {
      font-size: 17px;
      font-weight: 600;
    }

    .name {
      font-size: 16px;
    }
  }
}

.collection-item.macbock {
  
  .img {
    width: 300px;
  }

  .collection-footer {
    margin-top: 20px;
  }

}

.collection-item.ipad {

  .img {
    width: 230px;
  }
}

.collection-item.airpods {

  .img {
    width: 180px;
    height: 200px;
  }
} 

.collection-item.applewatch {
  .collection-footer {
    width: 250px;
  }
}