.sign-in {
  width: 30vw;
  margin: 0 auto;
  opacity: 0.8;

  .sign-in-title {
    font-size: 25px;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 20px;
  }

  .sign-in-subtitle {
    font-size: 18px;
    opacity: 0.8;
  }

  .sign-form {
    margin-top: 40px;
  }

  .sign-in-btns {
    display: flex;
    justify-content: space-between;
  }
}