.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    min-width: 100px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.9;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
