.header {
  position: relative;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes animationHoverLink {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animationClickLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and(max-width: 1024px) {
  .header {
    width: 90%;
  }
}

