.header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-logo {
    height: 100%;
    width: 50px;;
  }

  .logo {
    width: 100%;
  }

  .nav-link {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:first-child {
      padding: 0;
    }
    
    .link, .sign-out {
      padding: 0 10px 3px 10px;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
        border-bottom: 1px solid #231f20;
      }
    }
  }
}
