.footer {
  width: 150px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 10px;
  animation: animationLink 0.3s ease-out;

  .footer-icon {
    display: flex;
    justify-content: space-between;

    .icon img {
      width: 40px;
      height: 40px;
    
      &:hover {
        animation: animTranslate 1s ease;
      }
    }
  }

  .footer-year {
    text-align: center;
    margin-top: 20px;
    opacity: 0.4;
  }
};

@keyframes animTranslate {
  0%{
    transform: translateY(0);
  }
  33%{
    transform: translateY(-3px);
  }
  66%{
    transform: translateY(3px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes animationLink {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}